<footer>
    <div class="border-top"></div>
    <div class="footer-container">
    
      <div class="seccion-footer">
        <h3>Contacto</h3>
        <ul type="none">
          <li>Teléfono</li>
          <li>E-mail</li>
          <li>Dirección</li>
          <li>Quiénes somos</li>
        </ul>
      </div>
      <div class="seccion-footer">
        <h3>Ayuda</h3>
        <ul type="none">
          <li>Cambios y devoluciones</li>
          <li>Métodos de envío</li>
          <li>Promociones</li>
          <li>Guía de talles</li>
        </ul>
      </div>
      <div class="contactos">
        <div class="nombre-redes-footer">
          <div class="logo-nombre-footer">
            <i class="fa-solid fa-person-running logo-footer"></i>
            <h2>MARCA </h2>
          </div>
          <div class="iconos-footer-container">
            <i class="fa-brands fa-square-instagram iconos-footer"></i>
            <i class="fa-brands fa-square-facebook iconos-footer"></i>
            <i class="fa-brands fa-square-twitter iconos-footer"></i>
          </div>
        </div>
      </div>
    </div>
    <p class="copyright">© 2022 Copyright | Todos los derechos reservados</p>
  </footer>
</body>