<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/home.css" rel="stylesheet" />
    <link href="/css/header_footer.css" rel="stylesheet" />
    <link href="/css/carrito.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    
    <div class="invisible"></div>
    
    
    <main>


        <div class="caja-padre">
              <div class="caja-60">
                    <div class="titulo-carrito">
                      <div class="titulo"><p>Carrito</p></div>
                      <div class="seleccion">
                        <p>Seleccionar todo</p>
                        <p>Anular selecciones</p>
                      </div>
                    </div>

                    <div class="carrito">
                                          <div class="articulo">
                                              <div class="imagen">
                                                  <i class="fa-check"></i>
                                                  <p>objeto</p>
                                              </div>
                                              <div class="nombre">
                                                  <p>Nombre articulo</p>
                                                  <select name="language" id="language">
                                                    <option value="cantidad" disabled selected>Cantidad</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                  </select>
                                              </div>
                                              <div class="precio">
                                                  <p>$ 1234</p>
                                              </div>
                                          </div>
                                          <div class="articulo">
                                            <div class="imagen">
                                                <i class="fa-check"></i>
                                                <p>objeto</p>
                                            </div>
                                            <div class="nombre">
                                                <p>Nombre articulo</p>
                                                <select name="language" id="language">
                                                  <option value="cantidad" disabled selected>Cantidad</option>
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                </select>
                                            </div>
                                            <div class="precio">
                                                <p>$ 1234</p>
                                            </div>
                                        </div>
                                        <div class="articulo">
                                          <div class="imagen">
                                              <i class="fa-check"></i>
                                              <p>objeto</p>
                                          </div>
                                          <div class="nombre">
                                              <p>Nombre articulo</p>
                                              <select name="language" id="language">
                                                <option value="cantidad" disabled selected>Cantidad</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                              </select>
                                          </div>
                                          <div class="precio">
                                              <p>$ 1234</p>
                                          </div>
                                      </div>
                        
                    </div>
                </div>
            <div class="caja-subtotal">
              <div class="subtotal">
                <div class="valor">Subtotal: $1234</div>
                <div class="pagar"><button>Pagar</button></div>
              </div>  
              <div class="articulos-similares">
                  <p>Articulos similares</p>
                  <div class="articulo">
                    <div class="imagen"></div>
                    <div class="descripcion">
                    <p>articulo</p> 
                    <p>$1234</p>
                    </div>

                  </div>
                  <div class="articulo">
                    <div class="imagen"></div>
                    <div class="descripcion">
                    <p>articulo</p> 
                    <p>$1234</p>
                    </div>

                  </div>
                  <div class="articulo">
                    <div class="imagen"></div>
                    <div class="descripcion">
                    <p>articulo</p> 
                    <p>$1234</p>
                    </div>

                  </div>
                  
                  
              </div>
            </div>
            </div>
            <div class="last-box">
              <p class="visto-recientemente">Productos que pueden interesarte</p>
              
              <div class="articulos">
                  <div class="articulo-1">
                    <p class="pic">foto</p>
                    <hr>
                    <p> descripcion</p>
                  </div>
                  <div class="articulo-2"> <p class="pic">foto</p>
                    <hr> <p> descripcion</p></div>
                  <div class="articulo-3"> <p class="pic">foto</p>
                    <hr><p> descripcion</p></div>
                  <div class="articulo-4"> <p class="pic">foto</p>
                    <hr><p> descripcion</p></div>
                  <div class="articulo-5"> <p class="pic">foto</p>
                    <hr><p> descripcion</p></div>
                  <div class="articulo-6"> <p class="pic">foto</p>
                    <hr><p> descripcion</p></div>


              </div>
            </div>
            
        

        


        
    </main>
    

    <%- include('./partials/footer') %>
  </body>
</html>
