body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

.container {
  display: flex;
  flex: row;
}

.productos-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: center;
  align-items: center;
}

.producto {
  height: 50px;
  display: flex;
  flex-direction: column;
  
}

.producto-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid grey;
  background-color: whitesmoke;
  transition: background-color 0.3s ease-in-out;
}

.producto:hover {
  background-color: lightblue;
}

.producto .descripcion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.producto .nombre {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 10px;
}

.producto .color {
  margin-right: 10px;
}

.producto .talle {
  margin-right: 10px;
}

.producto .cantidad {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.producto .cantidad label {
  margin-right: 10px;
}

.producto .cantidad .main-select {
  width: 50px;
  height: 25px;
}

.total {
  width: 50%;
  height: 200px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -webkit-box-shadow: -1px 5px 8px 5px rgba(0,0,0,0.2); 
box-shadow: -1px 5px 8px 5px rgba(0,0,0,0.2);
}

.total p {
  margin-right: 35%;
  padding-bottom: 15px;
  margin-top: 5px;
  font-size: 20px;
}

.eliminar {
  margin-top: 5px;
}

button {
  
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
}

button i {
  color: rgb(61, 61, 82);
}
button:hover i {
  color: rgb(11, 11, 59);
}

button:hover {
  background-color: rgb(182, 182, 182);
  cursor: pointer;
}

h1 {
  text-align: center;
  padding-top: 30px;
  
}


@media (min-width: 616px){
  .total2{
    display: none;
  }
  .producto .nombre {
    font-weight: bold;
    font-size: 1.3rem;
    margin-right: 10px;
  }
}

@media (max-width: 616px){
  .total{
    display: none;
  }
  .productos-container{
    width: 100%;
  }
  .producto .nombre {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 10px;
  }
}

.total2 {
  background-color: whitesmoke;
}