*{
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
   
}

main {
    margin: 10px; 
    
  
}
.caja-padre {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 7px solid rgb(95, 168, 211, 0.7);;
}

.caja-padre .caja-60 {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* //////////////////// */
/* ARTICULO  */
.caja-padre .carrito {
    width: 100%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.articulo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nombre {
    display: flex;
    flex-direction: column;
    margin: 5px;

}

.precio {
    margin: 5px;
}

.imagen {
    border: solid 2px black;
}

/* //////////////////// */
/* TITULO CARRITO */

.caja-padre .caja-60 .titulo-carrito {
    display: flex;
    flex-direction: column;
}

.caja-padre .caja-60 .titulo-carrito .titulo {
    font-size: xx-large;
}

.caja-padre .caja-60 .titulo-carrito .seleccion {
    display: flex;
    flex-direction: row;
}

/* //////////////////// */
/* ARTICULO CARRITO  */
.carrito .articulo {
    border: solid 1px black;
}
.carrito .articulo .imagen {
    width: 10%;
}

.carrito .articulo .nombre {
    width: 70%;
}
.carrito .articulo .precio {
    width: 20%;
}


/* //////////////////// */
/* CAJA SUBTOTAL  */


.caja-subtotal {
    width: 20%;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 5px;
}

.caja-subtotal .articulo {
    display: flex;
    flex-direction: row;
}
.caja-subtotal .articulo .imagen {
    border: 1px solid black;
    width: 30%;
}

.caja-subtotal .articulo .descripcion {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10%;
}

.caja-subtotal .articulo .descripcion p {
    padding: 0%;
}



/* //////////////////// */
/* CAJA SUBTOTAL  */




/* //////////////////// */
/* VISTO X ULTIMA VEZ  */

.last-box{
    width: 100%;
    border: 7px solid rgb(95, 168, 211, 0.7);
    height: 400px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    max-width: 1650px;
}

.visto-recientemente{
    margin-bottom: -10px;
}
.articulos{
    height:  100%;
    display: flex;
       align-items: center;
    gap: 20px;
    
  



}

.articulo-1, .articulo-2, .articulo-3, .articulo-4,  .articulo-5,  .articulo-6  {
width: 80%;
height:90%;
border: solid black 1px;
display: flex;
flex-direction: column;
padding: 10px;

} 

.pic{
    height: 70%;
}

@media (min-width: 360px) {
    .articulo-3, .articulo-4,  .articulo-5,  .articulo-6 {
        display: none;
    }
}
@media (min-width: 760px) {
    .articulo-3, .articulo-4 {
        display: block;
    }
}
@media (min-width: 1400px) {
    .articulo-5,  .articulo-6 {
        display: block;
    }
}
