body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-title {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.profile-container {
  width: 680px;
  border: 7px solid #598392;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 30px auto 40px auto;
}

.profile-user-img {
  width: 70%;

  border: 2px solid #598392;
  border-radius: 50%;

  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-edit-img {
  font-size: 14px;
  text-decoration: none;
  color: white;

  background-color: rgb(95, 168, 211, 0.7);
  border-radius: 100px;
  padding: 5px;
  margin-bottom: 50px;
}

.profile-edit-img:hover {
  cursor: pointer;
}

.profile-user-name {
  margin-bottom: 10px;
}

.profile-user-email {
  margin-bottom: 20px;
}

.profile-edit-data {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 150px;

  margin-bottom: 40px;
  background-color: rgb(95, 168, 211);
  border-radius: 100px;
  transition: all 0.35s;

  padding: 5px;
  margin-bottom: 15px;
}

.profile-edit-data:hover {
  background-color: rgb(95, 168, 211, 0.7);
}

.profile-delete {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 150px;

  margin-bottom: 40px;
  background-color: rgba(211, 95, 95);
  border-radius: 100px;
  transition: all 0.35s;

  padding: 5px;
  margin-bottom: 15px;
}

.profile-delete:hover {
  background-color: rgba(211, 95, 95, 0.7);
}

.profile-logout {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

  border: none;
  border-radius: 10000px;
  background-color: #3e5c66;
  transition: all 0.35s;

  padding: 10px 80px;
  margin-bottom: 20px;
}

.profile-logout:hover {
  cursor: pointer;
  background-color: #598392;
  box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

/*///////////////////////////*/
/*////MEDIA QUERIES//////*/
/*///////////////////////////*/
@media (max-width: 1024px) {
  .profile-container {
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 800px) {
  .profile-container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  .profile-container {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 480px) {
  .profile-container {
    margin-left: 5%;
    margin-right: 5%;
    border: 4px solid #598392;
  }

  .profile-title {
    font-size: 24px;
  }

  .profile-user-name {
    font-size: 20px;
  }

  .profile-user-email {
    font-size: 20px;
  }

  .profile-logout {
    font-size: 18px;

    padding: 6px 70px;
    margin-bottom: 20px;
  }
}
