<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/home.css" rel="stylesheet" />
    <link href="/css/header_footer.css" rel="stylesheet" />
    <link href="/css/carrito.css" rel="stylesheet" />
    <link href="/css/agregar.css" rel="stylesheet"/>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    
    <div class="invisible"></div>
    
    
   <main>
    <div class="contenedorFormulario" > 
     

        <form class="formularioPRoducto" action="/products"" method="post">
          <!-- Nombre Producto-->
          <h1>Agregar Producto</h1>
        
          <div class="nombreProducto">
            <label for="productName"> <h5>Nombre de Producto</h5></label>
            <input
              type="text"
              name="productName"
              id="productName"
              placeholder="Nombre Producto"
            />
          </div>
          <!-- Dropdown Categotrias -->
          <div class="categoria">
            <h5>Categorias</h5>
            <select
              class="form-dropdown"
              id="dropMenuProducto"
              name="dropMenuProducto"
              style="width: 150px"
              data-component="dropdown"
            >
              <option value="">Please Select</option>
  
              <option value="Remeras">Remeras</option>
              <option value="Buzos">Buzos</option>
              <option value="Shorts">Shorts</option>
              <option value="Pantalones">Pantalones</option>
            </select>
          </div>
  
          <!-- Checkbox-->
  
          <div class="estilo">
            <h5 >Estilo</h5>
            <div>
              <label for="deportivo">Deportivo</label>
              <input type="checkbox" name="deportivo" id="deportivo" />
            </div>
  
            <div>
              <label for="Urbano">Urbano</label>
              <input type="checkbox" name="Urbano" id="Urbano" />
            </div>
  
            <div>
              <label for="Formal">Formal</label>
              <input type="checkbox" name="Formal" id="Formal" />
            </div>
          </div>
  
  
          <div class="agregarImagen">
  <h5>Imagen del producto</h5>
  <button >Seleccionar archivo</button> 
  
  <!--Descripcion del prodcto-->
          </div>
  
          <div class="descripcion"> 
  
              <label for="description"><h5> Descripcion</h5>  </label>
  
              <textarea name="descripcion" id="descripcion" cols="23" rows="6"></textarea>
  
  
          </div>
  
          <div class="precioProducto"> 
              <label for="precio"><h5> Precio </h5></label>
              <input type="text" name="precio" id="precio " type="number" maxlength="200">
  
          </div>
  
          <div class="descripcion"> 
  
              <label> <h5> Comentarios </h5></label>
  
              <textarea name="descripcion" id="" cols="23" rows="6"></textarea>
  
  
          </div>
  
  
  <div class="botonAgregar"> <input type="submit" value="Agregar Producto"> </input></div>
  
  
  
  
  
        </form>
  
      </div>
   </main>

    <%- include('./partials/footer') %>
  </body>
</html>
