<footer>
    <div class="border-top"></div>
    
    <div class="footer-container">
      
      <div class="contactos">
        <div class="nombre-redes-footer">
          <div class="logo-nombre-footer">
            <i class="fa-solid fa-shoe-prints logo-footer"></i>
            <a href="#"><h2>StrongStep</h2></a>
          </div>
          <div class="iconos-footer-container">
            <a href=""><i class="fa-brands fa-square-instagram iconos-footer"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook iconos-footer"></i></a>
            <a href=""><i class="fa-brands fa-square-twitter iconos-footer"></i></a>
          </div>
        </div>
      </div>

      <div class="seccion-footer">
        <h3>Contacto</h3>
        <ul type="none">
          <li><a href="">Quiénes somos</a></li>
          <li><a href="">Teléfono</a></li>
          <li><a href="">E-mail</a></li>
          <li><a href="">Dirección</a></li>
        </ul>
      </div>
      
      <div class="seccion-footer">
        <h3>Ayuda</h3>
        <ul type="none">
          <li><a href="">Cambios y devoluciones</a></li>
          <li><a href="">Métodos de envío</a></li>
          <li><a href="">Promociones</a></li>
          <li><a href="">Guía de talles</a></li>
        </ul>
      </div>

    </div>
    <p class="copyright">© 2022 Copyright | Todos los derechos reservados</p>
  </footer>
</body>