<header>
  <div class="logo-nombre">
    <a href="/">
      <i class="fa-solid fa-shoe-prints logo-header"></i>
    </a>
    <a href="/"><p class="nombre-header">StrongStep</p></a>
  </div>

  <div class="search-container">
    <form>
      <input
        type="search"
        placeholder="Buscar..."
        name="search"
        class="search"
      />
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </form>
  </div>

  <div class="dropdown">
    <button
      class="dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Zapatillas <i class="fa-solid fa-angle-down"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Casuales</a>
      <a class="dropdown-item" href="#">Deportivas</a>
    </div>
  </div>

  <div class="usuario-carrito">
    <!-- <p>Mi Usuario</p> -->
    <% if (user) {%>
    <a href="/profile/<%= user.id %>" style="color: black">
      <i class="fa-solid fa-circle-user icon-header-usario"></i
    ></a>
    <% } else {%>
    <a href="/login" style="color: black">
      <i class="fa-solid fa-circle-user icon-header-usario"></i
    ></a>
    <% }%>
    <a href="/carrito" style="color: black">
      <i class="fa-solid fa-cart-shopping icon-header-carrito"></i
    ></a>
  </div>
</header>
