<header>
    
    <div class="logo-nombre">
      <a href="/">
      <i class="fa-sharp fa-solid fa-bars logo-header"></i>
      </a>
      <p class="nombre-header">MARCA</p>
    </div>

      <div class="categorias-header">
        <button class="categoria-header-btn">
          <p class="categoria-header-nombre">Importadas</p>
          <i class="fa-solid fa-angle-down"></i>
        </button>
        <button class="categoria-header-btn">
          <p class="categoria-header-nombre">Nacionales</p>
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <div class="search-container">
        <form action="">
          <input type="search" placeholder="Buscar.." name="search" class="search"/>
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </form>
      </div>
      <div class="usuario-carrito">
        <!-- <p>Mi Usuario</p> -->
        <% if (user) {%>
        <a href="/<%= user.id %>" style="color: black;"> <i class="fa-solid fa-circle-user icon-header-usario"></i></a>
        <% } else {%>
        <a href="/login" style="color: black;"> <i class="fa-solid fa-circle-user icon-header-usario"></i></a>
        <% }%>
        <a href="/carrito" style="color: black;"> <i class="fa-solid fa-cart-shopping icon-header-carrito"></i></a>
      </div>


  </header>