<header>
  <div class="logo-nombre">
    <a href="/">
      <i class="fa-solid fa-shoe-prints logo-header"></i>
    </a>
    <a href="/"><p class="nombre-header">StrongStep</p></a>
  </div>

  <div class="dropdown">
    <button
      class="dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Zapatillas <i class="fa-solid fa-angle-down"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/products/casuales">Casuales</a>
      <a class="dropdown-item" href="/products/deportivas">Deportivas</a>
      <a class="dropdown-item" href="#">Ver Todas</a>
    </div>
  </div>

  <div class="search-container">
    <form>
      <input
        type="search"
        placeholder="Buscar..."
        name="search"
        class="search"
      />
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </form>
  </div>

  <div class="usuario-carrito">
    <!-- <p>Mi Usuario</p> -->
    <% if (user) {%>
    <a href="/profile/<%= user.id %>" style="color: black">
      <i class="fa-solid fa-circle-user icon-header-usario"></i
    ></a>
    <% } else {%>
    <a href="/login" style="color: black">
      <i class="fa-solid fa-circle-user icon-header-usario"></i
    ></a>
    <% }%>
    <a href="/carrito" style="color: black">
      <i class="fa-solid fa-cart-shopping icon-header-carrito"></i
    ></a>
    <i class="fa-solid fa-bars icon-header-usario icon-hmb-menu"></i>
  </div>
  <div class="hmb-menu-container hmb-menu-out">
    <h2 class="hmb-menu-titulo">Zapatillas</h2>
    <a href="" class="hmb-menu-link"
      >Casuales <i class="fa-solid fa-angle-right"></i
    ></a>
    <a href="" class="hmb-menu-link"
      >Deportivas <i class="fa-solid fa-angle-right"></i
    ></a>
    <a href="" class="hmb-menu-link"
      >Ver Todas <i class="fa-solid fa-angle-right"></i
    ></a>
    <i class="fa-solid fa-xmark icon-header-usario icon-close-hmb-menu"></i>
  </div>
  <script src="/js/header.js"></script>
</header>
